{% set uni = file_url(content.field_university_logo["#items"][0].entity.uri.value) %}
{% set ass = file_url(content.field_association_logo["#items"][0].entity.uri.value) %}
{% set logo = file_url(content.field_logo["#items"][0].entity.uri.value) %}

<div class='container'>
	<div
		class="row">
		<!-- COLONNA 1: University Logo + Project Description -->
		<div class="col-12 col-md-4 order-2 order-md-1">
			<div class="column1">
				<div class="d-flex flex-column footer-cf-logo-wrapper">
					<div class='university-logo'>
						<img src="{{ uni }}" alt="University Logo" class="img-fluid"/>
					</div>
					<div class="cf-text">
						{{'Department of Asian and North African Studies' | t}}
					</div>

					<div class='tea-association'>
						<img src='{{ ass }}'/>
					</div>
				</div>
			</div>

			<div class="footer-project">
				{{ content.field_project_desc }}
			</div>
		</div>

		<!-- COLONNA 2: Main Logo + Body Content -->
		<div class="col-12 col-md-4 order-1 order-md-2">
			<div class="column2">
				<div class='teasearch-logo'>
					<img src="{{ logo }}" alt="Teasearch" class="footer-logo-img"/>
				</div>
				<div class='association-text'>
					Tea Science & Culture Hub
				</div>
			</div>

			<div class="project-description">
				{{ content.body }}
			</div>
		</div>

		<!-- COLONNA 3: Newsletter, Social, Privacy -->
		<div class="col-12 col-md-4 order-3 order-md-3">
			<div class='column3'>
				<div class="footer-email">
					<a class="href-white" href="mailto:info@teasearch.org">
						info@teasearch.org
					</a>
				</div>
				<div class="footer-email">
					<a class="href-white" href="{{ base_url }}user/login">
						{{"user access" | t}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
