<div class="row">
	<div
		class="col-md-4">
		<!-- Field: Logo / Project name -->
<div class="footer-logo" ><img src="{{ theme.logo_image }}" alt="Teasearch Logo"></div>


		<div class="footer-project">{{ content.field_project_desc }}</div>
	</div>

	<div
		class="col-md-4">
		<!-- Field: University / Sponsor Logos -->
		<div class="footer-content">{{ content.body }}</div>
	</div>

	<div
		class="col-md-4">
		<!-- Field: Newsletter, Social Icons, Privacy Links -->
		<div class="footer-newsletter">{{ content.field_newsletter }}</div>
		<div class="footer-social">{{ content.field_social_icons }}</div>
		<div class="footer-privacy">{{ content.field_privacy_links }}</div>
	</div>
</div>

